<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.anchor" 
    version="1.0.0" 
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:gap="http://phonegap.com/ns/1.0">
    <name>HelloWorld</name>
    <description>
        Hello World sample application that responds to the deviceready event.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        Phineas Taylor-Webb
        Yaakov Lyubetsky
        Ajay Ravindran
        Ryan Flood
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />

    <preference name="phonegap-version" value="3.1.0" />
    <preference name="orienation" value="portrait" />
    <preference name="target-device" value="handset" /> 

    <gap:platform name="ios" />
    <gap:platform name="android" />

    <gap:plugin name="org.apache.cordova.file-transfer" />
    <gap:plugin name="org.apache.cordova.geolocation" />
    <feature name="http://api.phonegap.com/1.0/geolocation"/>
    
    <icon gap:density="hdpi" gap:platform="android" src="res/icon/android/icon_72.png" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon_114.png" width="114" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/screen/android/hdpi_android_splash_screen.png" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/iphone4_splash_screen.png" width="640" />

    </widget>
